<div class="col s12 m4 ">
	<div class="card">
		<div class="card-image waves-effect waves-block waves-light">
		  <img class="activator" src="http://blackhillstrucktrailer.com/wp-content/uploads/2014/05/trucking-industry-addiction-substance-abuse.jpg">
		</div>
		<div class="card-content">
		  <span class="card-title activator grey-text text-darken-4">Person Name<i class="material-icons right">more_vert</i></span><br>
			<i class="material-icons waves-effect waves-red" style="padding-right:10px;">thumb_down</i>
			<i class="material-icons waves-effect waves-green btn-small" style="padding-left:10px; padding-right:5px;">thumb_up</i>
		</div>
		<div class="card-reveal">
		  <span class="card-title grey-text text-darken-4">Person Name<i class="material-icons right">close</i></span>
		  <p>Here is some more information about this person.</p>
		</div>
	</div>
</div>
