<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Trucker's Only</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">stuff</a></li>
        <li><a href="#">things</a></li>
        <li><a href="#">word</a></li>
        <li><a href="#">words</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">stuff</a></li>
        <li><a href="#">things</a></li>
        <li><a href="#">word</a></li>
        <li><a href="#">words</a></li>
      </ul>
    </div>
  </nav>